p,a,h1,h2,h3,h4,h5,h6,ul{
	margin:0;
	padding:0;
	list-style:none;
	
}
p{
	font-size:14px;
	line-height:21px;
	color:#828286;
	font-family: 'K2D', sans-serif;
}
h3{
	text-transform: capitalize;
	font-weight: 700;
	font-size: 20px;
	padding: 10px 0;
}
.owl-theme .owl-dots .owl-dot {
    display: none !important;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
    
    position: absolute;
    left: 0;
    top: 45%;
    font-size: 40px;
	outline:none !importent;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot:hover{
	background:transparent !important;
	outline:none !important;
	color:#000 !important;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
	position: absolute;
	font-size: 40px;
	right: -16px;
	top: -9px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot:hover{
	background:transparent !important;
	outline:none !important;
	color:#000 !important;
}